* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.gridbox-container {
  display: flex;
  border: 5px solid chocolate;
  min-height: 100vh;
  gap: 20rem;
  align-items: center;
}

.playerBoard,
.computerBoard {
  padding-left: 1rem;
  padding-top: 1rem;
  margin-left: 1rem;
  border: 2px solid black;
  display: grid;
  grid-template-columns: repeat(10, 35px);
  grid-template-rows: repeat(10, 35px);
}

.grid {
  border: 2px solid black;
  margin: -2px 0 0 -2px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
}
